h1{
    margin: 30px auto;
    font-size: 55px;
    text-align: center;
}
.wrapper{
    font-size: 0px;
    width: 600px;
    margin: 20px auto;
    background-color: white;
 
}

.myBox{
    display: inline-block;
	width: 20px;
	height: 20px;
	background-color: white;
    margin: auto;
}
.btnWrapper{
    width: 610px;
    margin:auto;
}

.newBtn{
    float: left;    
}
.resetBtn{
    float: right;
}